*{
    Box-sizing: border-box;
    Margin: 0;
    Padding: 0;
    }
    
    /* header start*/
.container {
    display: flex;
    justify-content: space-between;
}

.highscore {
    margin: 25px 25px;
    text-decoration: none;
}

#countdown {
    margin: 25px 25px;

}
    /* header end */

    /* main start */
#main-quiz-area {
    text-align: center;
    margin-top: 50px;    
}

#main-quiz-area p {
    margin: 20px 0;
}

#start-button {
    padding: 10px 20px;
    border-radius: 15%;
    background-color: #9a4ef1;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
    margin: auto;
}

#start-button:hover {
    border-color: rgba(255,255,255,1);
}

.answer-button {
    margin: 20px auto;
    padding: 10px 10px;
    border-radius: 15%;
    background-color: #9a4ef1;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
    font-size: xx-large;
    width: 50%;
    
}

.score-button {
    padding: 10px 20px;
    border-radius: 15%;
    background-color: #9a4ef1;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
    margin: 20px 20px 40px 20px

}

.score-box {
    margin: 20px 20px 40px 20px;
}

#quiz {
    display: flex;
    flex-direction: column;
}

.score-form {
    display: flex;
    justify-content: center;
    margin: auto;
}

#main-highscore-area {
    text-align: center;
    margin-top: 15%;
    
}

#go-back-btn {
    padding: 10px 20px;
    border-radius: 15%;
    background-color: #9a4ef1;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
    margin: auto;
}

#clear-score-btn {
    padding: 10px 20px;
    border-radius: 10%;
    background-color: #9a4ef1;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
    margin: auto;
}

.high-score-form{
    display: inline;
    
}
#answerResults {
    text-align: center;
}
    /* main end */

    /* media query for phones */
